* {
    box-sizing: border-box;
}

.preListHeader {
    margin-top: 10px
}

.Col {
    text-align: center;
}

.AppsRow {
    margin: 8px;
    height: 120px;
}

.appCircleImage {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: black 0px 0px 5px;
}

.appCircleImage:hover {
    transform: scale(1.2);
}

.appFeatureHeadline {
    display: flex;
    justify-content: space-between;
}

.transition-all {
    transition: all .3s ease-in;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
